@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden;
}

@layer utilities {
  .fullscreen {
    height: 100vh;
    width: 100vw;
  }
}

.loader {
  border-radius: 4px;
  display: block;
  position: relative;
  background: currentColor;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

.loader::after {
  left: 20px;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}
/* Define MentiDisplay font */
@font-face {
    font-family: 'MentiDisplay';
    src: url('./assets/fonts/MentiDisplay-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MentiDisplay';
    src: url('./assets/fonts/MentiDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  /* Define MentiText font */
  @font-face {
    font-family: 'MentiText';
    src: url('./assets/fonts/MentiText-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MentiText';
    src: url('./assets/fonts/MentiText-SemiBold.woff2') format('woff2');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MentiText';
    src: url('./assets/fonts/MentiText-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  